# Part 1 Quiz

The quiz is short and combines topics covered in Part 1. If you are struggling, go back through the lecture notebook to review. The quiz is designed to test how well you're learning to put code together more than just if you remember the right operators and functions, so don't be ashamed to look things up. Try to spend as much time as you can to figure out a correct answer before you look at the answer key.
<br><br>The quiz is self-graded - you do not need to turn anything in! The answer key is called "part1Quiz-answers.ipynb".

1. Create a variable called `cube` that stores the value of 9 raised to the power of 3. Then write code to print `cube`:

In [1]:
cube = 9**3
print(cube)

729

2. Write code to change the variable `birthday` to a string:

In [2]:
birthday = 12071989
birthday_string = str(birthday)
print(birthday_string)

12071989

3. Would the following code evaluate to True or False?
<br>`not 4 == 4 or not 4 < 5`

False

In [3]:
not 4 == 4 or not 4 < 5

False

4. In one year, I eat 27 apples. Write code to calculate how many apples I eat in 40 years, and round the answer to the closest hundred apples.

In [4]:
round(27*40, -2)

1100

5. Write code to create a new string that combines line_1 and line_2 with a new line character in the middle:

In [5]:
line_1 = "Hold fast to dreams"
line_2 = "For if dreams die"
new_string = line_1 + '\n' + line_2
print(new_string)

Hold fast to dreams
For if dreams die

6. Write code to index the substring "midnight" from the following string:

In [8]:
raven = "Once upon a midnight dreary,"
raven.index('midnight')
substring = raven[12:20]
print(substring)

midnight

In [11]:
raven = "Once upon a midnight dreary,"
midnight_start = raven.find('midnight')
midnight_end = midnight_start + len('midnight')
substring = raven[midnight_start:midnight_end]
print(substring)

midnight

7. In one line of code, remove the question mark from the end of this sentence and change the sentence to capitalize only the first letter of the sentence:

In [12]:
sentence = "THIS IS THE LAST QUESTION?"
new_sentence = sentence.replace('?', '').capitalize()
print(new_sentence)

This is the last question